<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
<div *ngIf="fantome">
    <h2>{{fantome.name | uppercase}} Details</h2>
    <div>Role: {{fantome.role}}</div>
    <div>
        <div *ngIf="fantome._id === getLocalUserId()">
            <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="fantome.role">
                  <mat-option value="Guerrier">Guerrier</mat-option>
                  <mat-option value="Alchimiste">Alchimiste</mat-option>
                  <mat-option value="Sorcier">Sorcier</mat-option>
                  <mat-option value="Espions">Espions</mat-option>
                  <mat-option value="Enchanteur">Enchanteur</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div *ngIf="fantome._id === getLocalUserId(); else friend">
        <button  mat-raised-button color="primary"  (click)="updateRole()">Update</button>
    </div>
    <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
    <ng-template #friend>
        <button *ngIf="!isFriend()" mat-raised-button color="primary"  (click)="addAsFriend()">Add As Friend</button>
        <button *ngIf="isFriend()" mat-raised-button color="primary"  (click)="removeAsFriend()">Remove As Friend</button>
    </ng-template>
</div>
</mat-card-content>
</mat-card>